####################
## TEMPLATES
####################
define command {
	command_name	check_zabbix_agent_plugin
	command_line	python3 $USER1$/check_zabbix_agent_plugin.py $ARG1$ $ARG2$ $ARG3$ $ARG4$ $ARG5$
}